*{
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    /* margin: 3rem auto; */
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
}

.item{
    flex-basis: 6.25%;
    border: 1px solid black;
    height: 6.25%;
    background-color: white;
}

.btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    margin: 48px 50px 48px 0px; 
}

button{
    width: 200px;
    height: 100px;
    font-size: 24px;
}